<html>
  <head>
    <title>Hello world!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Chat Server</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Signup</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
              Darin Minamoto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Friends</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Body -->
    <div class="container">
      <div class="jumbotron">
        <!-- Friends -->
        <h2 style="overflow: auto;">
          Darin's Friends: 
            <input class="form-control" width="3" type="text" placeholder="Search friends" style="width: 300px; float: right"/>
            <a class="btn btn-danger" style: "float: right;">+</a>
        </h2>
        <div class="list-group">
          <a class="list-group-item">
            <span class="badge">2</span>
            Group 1
          </a>
          <a class="list-group-item">
            <span class="badge">10</span>
            Group 2
          </a>
          <a class="list-group-item">
            <span class="badge">5</span>
            Group 3
          </a>
        </div>

        <!-- Groups -->
        <h2 style="overflow: auto;">
          Darin's Groups: 
          <input class="form-control" width="3" type="text" placeholder="Search groups" style="width: 300px; float: right;"/>
          <a class="btn btn-danger" style: "float: right;">+</a>
        </h2>
        <div class="list-group">
          <a class="list-group-item">
            <span class="badge">2</span>
            Group 1
          </a>
          <a class="list-group-item">
            <span class="badge">10</span>
            Group 2
          </a>
          <a class="list-group-item">
            <span class="badge">5</span>
            Group 3
          </a>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
