#chatbox {
  width: 60%;
  /*height: 600px;*/
  height: 60%;
  overflow: auto;
  display: inline-block;
  float: left;
}

#userList {
  width: 40%;
  /*height: 600px;*/
  height: 60%;
  overflow: auto;
  float: right;
}

#messageBox {
  height: 40%;
}


