doctype html
html(ng-app='chatApp')
  head
    meta(charset='utf8')
    title Real time web chat
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    div.container(ng-controller='mainControl')
      block header
      block body
      block footer
    div(ng-controller='loginControl')
      block modalLogin
      block modalSignup
    script(src='bower_components/angular/angular.min.js', type='text/javascript')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='js/app.js', type='text/javascript')

    // Factories
    script(src='js/factories/miscFactory.js', type='text/javascript')
    script(src='js/factories/socketFactory.js', type='text/javascript')
    script(src='js/factories/socketServiceFactory.js', type='text/javascript')

    // Controllers
    script(src='js/controllers/mainController.js', type='text/javascript')
    script(src='js/controllers/loginController.js', type='text/javascript')
    script(src='js/controllers/chatBoxController.js', type='text/javascript')
    script(src='js/controllers/navbarController.js', type='text/javascript')
    script(src='js/controllers/messageBoxController.js', type='text/javascript')
    script(src='js/controllers/sendChatController.js', type='text/javascript')
    script(src='js/controllers/userListController.js', type='text/javascript')
